$volet : #1B2C3E;
$green : #09B097;
$greenhover : #46BCA9;
$red : #ff3d60;
$redhover : #ff4d6e;
$orange : #FCB92B;
$orangehover : #fcc143;

.project-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .project-description {
        width: calc(96% - 300px);
        height: auto;
        margin: 50px 0px 0px 300px;
        padding: 60px 2% 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .infos {
            width: 30%;
            height: auto;

            .title {
                width: 100%;
                font-size: 60px;
                text-align: left;
                background-color: transparent;
                border: none;
                outline: none;

                &:focus {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            .description {
                width: 100%;
                height: auto;
                max-height: 300px;
                text-align: left;
                background-color: transparent;
                border: none;
                resize: none;
                outline: none;

                &:focus {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }

        img {
            width: 60%;
            height: auto;
            max-height: 600px;
            object-fit: cover;
        }
    }

    .members-container {
        width: calc(96% - 300px);
        height: auto;
        margin-left: 300px;
        padding: 0px 2%;
        display: flex;
        justify-content: flex-end;
        gap: 5px;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border: 3px solid rgba(255, 255, 255, 1);
            border-radius: 25px;
            box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.1);
        }
    }

    .work-container {
        width: calc(96% - 300px);
        height: auto;
        margin-left: 300px;
        padding: 40px 2% 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .work {
            width: 30%;
            height: auto;
            padding: 10px 2% 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            background-color: #fff;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

            h2 {
                margin: 10px 0px;
            }

            .item {
                width: 96%;
                height: auto;
                padding: 12px 2%;
                border-radius: 5px;
                color: #fff;
            }

            .task {
                background-color: $orange;
            }

            .notif {
                background-color: $red;
            }

            .comment {
                background-color: $volet;
            }

            .comment-container {
                width: 100%;
                height: auto;
                max-height: 400px;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .actions {
                width: 96%;
                height: auto;
                margin: 20px 2% 0px;
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;

                input {
                    width: calc(100% - 40px);
                    max-width: 100%;
                    padding: 8px 0px;
                    border: none;
                    border-bottom: 1px solid #636E75;
                    outline: none;
                }

                .send-button {
                    width: 40px;
                    height: auto;
                    border: none;
                    border-bottom: 1px solid #636E75;
                    background-color: transparent;
                    color: #636E75;
                }
            }
        }
    }

    .delete-project-div {
        width: calc(96% - 300px);
        margin-left: 300px;
        margin-bottom: 75px;
        justify-content: center;
        display: flex;
        justify-content: center;

        .delete-project {
            background: #ff2727;
            color: #f1f1f1;
            border: none;
            border-radius: 20px;
            padding: 18px 20px;
            transition: background .3s ease-in-out;

            &:hover {
                background: #ff2727d2;
            }
        }
    }
}