.projects-container {
    width: calc(100% - 340px);
    height: auto;
    margin-left: 300px;
    padding-bottom: 30px;
    padding: 0px 20px 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: all 1s ease-in-out;
    gap: 5%;

    &.projects-enter {
        opacity: 0;
    }

    &.projects-enter-active {
        opacity: 1;
    }

    &.projects-enter-done {
        opacity: 1;
    }

    &.projects-exit {
        opacity: 1;
    }

    &.projects-exit-active {
        transform: translateX(-100%);
        opacity: 0;
    }

    &.projects-exit-done {
        position: absolute;
        transform: translateX(-100%);
        opacity: 0;
    }
}