.dashboard {
    width: 100%;
    height: auto;

    .tab-main {
        width: auto;
        height: auto;
        margin: 90px 0px 0px 300px;
        display: flex;
        justify-content: center;
        gap: 10px;

        .tab-projects,
        .tab-collabs {
            display: flex;
            flex-direction: column;

            .tab-button {
                border: none;
                background-color: transparent;
                color: #636E75;
                font-weight: 500;
            }

            span {
                width: 0;
                height: 1px;
                border: .5px solid transparent;
                transition: all .4s ease-in-out;

                &.isActive {
                    width: 100%;
                    border: .5px solid #636E75;
                }
            }

            &:hover {
                span {
                    width: 100%;
                    border: .5px solid #636E75;
                }
            }
        }
    }
}