.large-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url("../../assets/background.webp");
    background-size: cover;
    background-position: center center;
    z-index: 1;

    .button-switch {
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 40px;
        right: 80px;
        padding: 16px 32px;
        border: none;
        border-radius: 6px;
        background: #09B097;
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

        .switch-arrow {
            display: flex;
            flex-direction: column;

            i {
                font-size: 17px;
                transition: all .2s ease-in-out;
            }

            .fa-arrow-right {
                transform: translateX(6px) translateY(3px);
            }

            .fa-arrow-left {
                transform: translateX(-6px) translateY(-3px);
            }
        }

        &:hover {
            .fa-arrow-left {
                transform: translate(-10px, -3px);
            }

            .fa-arrow-right {
                transform: translate(10px, 3px);
            }
        }
    }
}